{{ if site.Params.env_bookshop_live }}
  <div class="c-collection-labels-tooltip alert alert-warning p-3 mb-3 text-start">
    {{ if .title }}
      <h2>{{ .title }}</h2>
    {{ end }}
    <p class="mb-0">
      {{ if .text }}
        {{ .text | safeHTML }}
      {{ else }}
        ‘Show Content’ is currently set to ‘false’ in this component’s config in order to speed up editing. To show the content, check the ‘Show Content’ box in the component’s config.
      {{ end }}
    </p>
  </div>
{{ end }}