{{ if not site.Data }}
  {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "This component will not display content inside the Bookshop browser." ) ) }}
{{ else if and site.Params.env_bookshop_live .is_dynamic }}
  {{ partial "bookshop" (slice "design-system/generic/collection-tooltip-dynamic-component" .) }}
{{ else }}

  {{ $label := .label }}
  {{ $tags := slice }}

  {{ if .tags }}
    {{ $tags = .tags }}
  {{ end }}

  {{ $articles := slice }}
  {{ $photoEssays := slice }}
  {{ $authorData := slice }}

  {{ if not site.Params.env_bookshop_live }}
    {{ $articles = where site.Pages "Section" "articles" }}
    {{ $articles = where $articles "Params.tags" "intersect" $tags }}
    {{ $articles = sort $articles "Params.publishDate" "asc" }}
    {{ $authorData = where site.Pages "Section" "people" }}
    {{ $authorData = where $authorData "Params.type" "eq" "author" }}
  {{ else }}
    {{ $articles = where site.Data.site_pages ".type" "eq" "articles" }}
    {{ $photoEssays = where site.Data.site_pages ".type" "eq" "photo-essay" }}
    {{ $articles = $articles | append $photoEssays }}
    {{ $articles = where $articles ".tags" "intersect" $tags }}
    {{ $articles = sort $articles ".publishDate" "asc" }}
    {{ $authorData = where site.Data.people_data ".type" "author" }}
  {{ end }}

  <div class="wvu-b-border wvu-b-shadow wvu-b-subtle position-relative h-100 d-flex align-items-center position-relative">
    <div class="row gx-0">
      {{ range first 1 $articles }}

        {{ $params := "" }}
        {{ $link := "" }}

        {{ if not site.Params.env_bookshop_live }}
          {{ $params = .Params }}
          {{ $link = .RelPermalink }}
        {{ else }}
          {{ $params = . }}
        {{ end }}

        {{ with $params.alternate_url }}
          {{ $link = . }}
        {{ end }}

        {{ $authors := slice }}

        {{ if $params.authors }}
          {{ $authors = $params.authors }}
        {{ end }}
        
        {{ $authorList := slice }}

        {{ range $authorData }}
          {{ $author := . }}
          {{ if not site.Params.env_bookshop_live }}
            {{ $author = .Params }}
          {{ end }}
          {{ range $authors }}
            {{ if eq .author $author.uuid }}
              {{ $authorList = $authorList | append $author }}
            {{ end }}
          {{ end }}
        {{ end }}
        
        {{ $src := $params.article_image }}

        {{- if not site.Params.env_bookshop_live -}}
          {{ $image := "" }}
          {{/*  Get the image, either from its remote or local source  */}}
          {{ if hasPrefix $src "http"}}
            {{ $image = resources.GetRemote $params.article_image }}
          {{ else }}
            {{ $image = resources.Get $params.article_image }}
          {{ end }}

          {{/* Resize images and add them to a variable  */}}
          {{ if and $image (ne $image.MediaType.SubType "svg") }}
            {{ $src = ($image.Fill (printf "%dx%d webp" 960 640)).RelPermalink }}
          {{ end }}
        {{- end -}}

        {{ $branding := "" }}
        
        {{ if $src }}
          {{ $branding = "text-white" }}
          <div class="wvu-bg-img">
            <img class="object-fit-cover h-100 w-100 position-relative" src="{{ $src }}" alt="{{ $params.article_image_alt_text }}" />
            <div class="position-absolute wvu-bg-tint w-100 h-100" style="opacity: 0.7"></div>
          </div>
        {{ end }}

        <div class="col-24 wvu-z-index-content {{ $branding }} h-100">
          <div class="h-100 p-5">

            {{ with $label }}
              <p class="wvu-b-label">{{ . }}</p>
            {{ end }}

            <h2 class="display-5" itemprop="headline"><a class="wvu-b-display-heading stretched-link text-decoration-none" href="{{ $link }}"><span class="wvu-b-font-adjust">{{ $params.title }}</span></a></h2>

            {{ if or (not $params.config.hide_author) ( $params.publishDate ) }}
              <p class="small d-block">
                {{ if not $params.config.hide_author }}
                  {{ with $authorList }}
                    {{ range $authorList }}
                      <span class="wvu-article__author" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <span itemprop="name">
                          {{ .name }}
                        </span>
                      </span>
                    {{ end }}
                  {{ end }}
                {{ end }}

                {{ if and $authorList (not $params.config.hide_author) ($params.author) ($params.publishDate) }} | {{ end }}

                {{ if $params.publishDate }}
                  <time datetime="{{ $params.publishDate }}">{{ $params.publishDate | time.Format "Monday, January 2, 2006" }}</time>
                {{ end }}
              </p>
            {{ end }}

            {{ with $params.teaser }}
              <p>{{ . }}</p>
            {{ end }}

            <div class="mt-4">
              <span class="display-4 fa-thin fa-arrow-circle-right"></span>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}