{{ $heading := .heading }}

<div class="row gx-4">
  <div class="col-lg-18 col-xl-16 mx-lg-auto">
    {{ range .items }}
      <div class="row mb-5">
        <div class="col-lg-6">
          <div class="mb-2 d-flex justify-content-center justify-content-lg-end">
            <div class="wvu-b-accent-bg h2 mb-0 text-decoration-none d-flex align-items-center justify-content-center rounded-circle p-5">
              <span class="fa-regular fa-{{ .icon }} wvu-b-accent-bg position-absolute" aria-hidden="true"></span>
            </div>
          </div> 
        </div>
        <div class="col-lg-18 text-center text-lg-start">
          {{ if not $heading }}
            <h2 class="wvu-b-display-heading h1"><span class="wvu-b-font-adjust">{{ .title }}</span></h2>
          {{ else }}
            <h3 class="wvu-b-display-heading h1"><span class="wvu-b-font-adjust">{{ .title }}</span></h3>
          {{ end }}
          <p>{{ .text | markdownify }}</p>
          {{ if .ctas }}
            <div>
              {{ range .ctas }}
                <a class="btn wvu-b-btn mb-1" href="{{ .url }}">{{ .text }}{{ if .icon }} <span class="fa-regular fa-{{ .icon }}"></span>{{ end }}</a>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</div>