<div class="audience-{{ .settings.styles.audience }} tone-{{ .settings.styles.tone }} bg-option-1 wvu-b-border p-5">
  <div class="row gx-lg-6">
    <div class="col-lg">
      <div class="mb-4">
        <h2 id="{{ .settings.config.name }}-label" class="h1 wvu-b-subheading mb-4"><span class="wvu-b-font-adjust">{{ .heading }}</span></h2>  
        {{ with .subheading }}
          <p class="h4 wvu-b-heading"><span class="wvu-b-font-adjust">{{ . }}</span></p>
        {{ end }}
      </div>
      {{ .markdown | markdownify }}
    </div>
    {{ if .info_card_sidebar_blocks }}
      <div class="col-lg-6 mt-5 mt-lg-0">
        <div class="me-lg-n5">
          {{ range .info_card_sidebar_blocks }}
            {{ partial "bookshop" . }}
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</div>