.DS_Store
_vendor/
node_modules/
deploy/
public/
resources/_gen/
contentful/content/
scratch/
component-library/bookshop/
archetypes/
assets/
cloudcannon.config.yml
config.yml
content/
data/
go.sum
layouts/
package.json
package-lock.json
resources/
static/

# Temporary layout files from imported modules
_TMP-*

.envrc
.env
*.lock
