<div class="p-5 p-lg-6 wvu-b-subtle">
  {{ $contacts := slice }}

  <div class="mb-n5">
    {{ if .heading }}
      <h2 class="wvu-b-label mb-5">{{ .heading }}</h2>
    {{ end }}

    {{ if not site.Data }}
      {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "This component will not display content inside the Bookshop browser." ) ) }}
    {{ else if and site.Params.env_bookshop_live .is_dynamic }}
      {{ partial "bookshop" (slice "design-system/generic/collection-tooltip-dynamic-component" .) }}
    {{ else }}

      {{ $hideThumbnails := false }}

      {{ if .config.hide_thumbnails }}
        {{ $hideThumbnails = .config.hide_thumbnails }}
      {{ end }}

      {{ if not site.Params.env_bookshop_live }}
        {{ $contacts = where site.RegularPages "Params.is_contact" true }}
      {{ else }}
        {{ $contacts = where site.Data.people_data ".is_contact" true }}
      {{ end }}

      {{ range .people }}
        {{ $contact := .contact }}
        {{ $label := "" }}
        {{ with .label }}
          {{ $label = . }}
        {{ end }}
        {{ range $contacts }}

          {{ $params := . }}

          {{ if not site.Params.env_bookshop_live }}
            {{ $params = .Params }}
          {{ end }}

          {{ if eq $params.uuid $contact }}
            <div class="row mb-5">
              {{ if and $params.profile_image (not $hideThumbnails) }}

                {{ $src := $params.profile_image }}

                {{- if not site.Params.env_bookshop_live -}}
                  {{ $image := "" }}
                  {{/*  Get the image, either from its remote or local source  */}}
                  {{ if hasPrefix $src "http"}}
                    {{ $image = resources.GetRemote $src }}
                  {{ else }}
                    {{ $image = resources.Get $src }}
                  {{ end }}

                  {{/* Resize images and add them to a variable  */}}
                  {{ if and $image (ne $image.MediaType.SubType "svg") }}
                    {{ $src = ($image.Fill (printf "%dx%d webp" 250 250)).RelPermalink }}
                  {{ end }}
                {{- end -}}

                <div class="col-6 col-lg-5">
                  <div class="ratio ratio-1x1">
                    <img class="object-fit rounded-circle" src="{{ $src }}" alt="{{ if $params.image.alt }}{{ $params.image.alt }}{{ else }}Portrait of {{ $params.name }}{{ end }}" />
                  </div>
                </div>
              {{ end }}
              <div class="col">
                {{ with $label }}<p class="wvu-b-label small d-inline-block border border-1 p-1">{{ . }}</p>{{ end }}

                <h3 class="h5">{{ $params.name }}</h3>

                {{ with $params.staff_contact_info }}
                  <p class="small">
                    {{ range . }}
                      {{ partial "bookshop" (slice ._bookshop_name .) }}
                    {{ end }}
                  </p>
                {{ end }}
              </div>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</div>