{{ $heading := .heading }}
<div class="row gx-md-5 mb-n5 justify-content-center wvu-justify-children">
  {{ range .videos }}
    <div class="col-md-12 col-lg-8 col-xxl-6 mb-5">
      <div class="position-relative wvu-b-shadow wvu-b-border">
        <div class="d-flex align-items-center justify-content-center bg-wvu-coal">
          <div class="ratio ratio-16x9" style="opacity: .5;">
            <img class="img-fluid object-fit-cover" src="https://img.youtube.com/vi/{{ .video_id }}/hqdefault.jpg" alt="{{ .title }}" />
          </div>
          <span class="display-5 fa-regular fa-circle-play text-white position-absolute"></span>
        </div>
        <div class="p-4 wvu-b-subtle">
          {{ if not $heading }}
            <h2 id="{{ .settings.config.name }}-label" class="wvu-b-display-heading h3"><span class="wvu-b-font-adjust">{{ .title }}</span></h2>
          {{ else }}
            <h3 id="{{ .settings.config.name }}-label" class="wvu-b-display-heading h3"><span class="wvu-b-font-adjust">{{ .title }}</span></h3>
          {{ end }}
          {{ .description | markdownify }}
          <a class="stretched-link" href="https://www.youtube.com/watch?v={{ .video_id }}"><span class="visually-hidden">Watch Video: {{ .title }}</span></a>
        </div>
      </div>
    </div>
  {{ end }}
</div>