<ol class="wvu-ol-big-numbers wvu-ol-big-numbers-wvu-blue fs-5">
  {{ range .items }}
    <li>
      <span class="d-block mb-4">
        {{ if .heading }}
          <h2 class="fs-2">{{ .heading }}</h2>
        {{ end }}
        {{ .text | markdownify }}
        {{ with .ctas }}
          <div class="mt-4">
            {{ range . }}
              <a class="btn wvu-b-btn btn-sm mb-1 me-1" href="{{ .url }}">{{ .text }}{{ with .icon }} <span class="fa-regular fa-{{ . }}"></span>{{ end }}</a>
            {{ end }}
          </div>
        {{ end }}
      </span>
    </li>
  {{ end }}
</ol>