<div class="row text-center gx-xxl-5 mb-n5">
  {{ range .items }}
    <div class="col-lg mb-5">
      <p class="mb-0">
        {{ if .pre }}
          <span class="d-block helvetica-neue-bold fs-5">{{ .pre }}</span>
        {{ end }}
        
        <span class="d-block wvu-b-display-heading display-2 mb-0">{{ .stat }}</span>
        
        {{ if .post }}
          <span class="d-block helvetica-neue-bold fs-5">{{ .post }}</span>
        {{ end }}
  
        {{ if .source }}
          <span class="d-block small"><em>{{ .source }}</em></span>
        {{ end }}
      </p>
    </div>
  {{ end }}
</div>