{{ $uuid := .author }}

{{ $authorData := slice }}

{{ if not site.Params.env_bookshop_live }}
  {{ $authorData = where site.RegularPages "Section" "eq" "people" }}
  {{ $authorData = where $authorData "Params.type" "eq" "author" }}
{{ else }}
  {{ $authorData = where site.Data.people_data ".type" "eq" "author" }}
{{ end }}

{{ range $authorData }}
  {{ $author := .Params }}
  {{ if eq $uuid $author.uuid }}
    <div class="wvu-b-subtle mt-5 p-4 p-sm-5 mb-4">
      <div class="row">
        <div class="col-6">
          <div class="ratio ratio-1x1" style="max-width: 250px;">
            <img class="img-fluid w-100 h-100 object-fit-cover rounded-circle" src="{{ $author.profile_image }}" alt="Portrait of {{ $author.name }}" />
          </div>
        </div>
        <div class="col-16 me-auto">
          <h2 class="config-light mb-2">{{ $author.name }}</h2>
          <p class="config-extra-bold mb-3">{{ $author.title }}</p>
          <p class="mb-3">{{ $author.bio_text | markdownify }}</p>
          <a class="text-dark small text-decoration-none" href="{{ .RelPermalink }}">View {{ $author.name }}’s Bio Page <span class="fa-solid fa-arrow-right"></span></a>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}