{{ $color := "primary" }}

{{ if .buttons_c }}
  {{ $color := .buttons_c }}
{{ end }}

<div class="text-center px-5 py-7 wvu-b-subtle d-flex h-100 w-100 justify-content-center align-items-center">
  <div class="row w-100">
    <div class="col-xxl-20 mx-xxl-auto">
      <div class="mb-4">
        <h2 class="wvu-b-display-heading wvu-b-text-shadow display-4 mb-3"><span class="wvu-b-font-adjust">{{ .heading }}</span></h2>
        {{ with .subheading }}
          <p class="lead mb-4">{{ . }}</p>
        {{ end }}
      </div>
      {{ range .buttons }}
        {{ if .button_c }}
          {{ $color = .button_c }}
        {{ end }}
        <a class="btn wvu-b-btn mb-1" href="{{ .url }}">{{ .text }}</a>
        {{ $color := "primary" }}
      {{ end }}
    </div>
  </div>
</div>