<div class="row gx-xl-6">
  <div class="col-xl-10">
    <div class="sticky-xl-top">
      <div class="mt-xl-n5 pt-xl-5 mb--xl-5 pb-3">  
        <div class="text-start mb-5">
          <div class="col">
            <h2 class="h1 wvu-b-label my-4">{{ .heading }}</h2>
            {{ if .subheading }}
              <p class="wvu-b-subheading h4">{{ .subheading }}</p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl mx-xl-auto">
    <div class="mb-n3">
      {{ range .items }}
        <div class="position-relative wvu-b-subtle mb-3">
          <div class="row gx-4">
            <div class="col">
              <div class=" p-5 h-100 rounded-2">
                <h3 class="wvu-b-display-heading h2">{{ .title }}</h3>
                {{ if .text }}
                  <p class="mb-0">{{ .text | markdownify }}</p>
                {{ end }}
              </div>
            </div>
            <div class="col-6 col-xl-5 d-flex align-items-center justify-content-end pe-5">
              <a class="stretched-link" aria-label="{{ .title }}" href="{{ .url }}"><span class="fa-thin fa-arrow-circle-right display-4 wvu-b-accent-text"></span></a>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>