{{ $headingSize := "display-3" }}
{{ if .settings.styles.heading_size }}
  {{ $headingSize = .settings.styles.heading_size }}
{{ end }}

<div class="row">
  <div class="col-xl-16 col-xxl-12 text-center mx-xl-auto">
    {{ if .label }}
      <p class="h6 mb-6 wvu-b-label">{{ .label }}</p>
    {{ end }}
    
    {{ if .heading }}
      <h2 id="{{ .settings.config.name }}-label" class="wvu-b-display-heading {{ $headingSize }}" data-text="{{ .heading }}">
        <span class="wvu-b-font-adjust">{{ .heading }}</span>
      </h2>
    {{ end }}

    {{ if .subheading }}
      <p class="fs-3 mt-3 wvu-b-text wvu-b-subheading"><span class="xwvu-b-font-adjust">{{ .subheading }}</span></p>
    {{ end }}
    <div class="row d-flex justify-content-center text-start my-2">
      <div class="col-md-24 mx-auto">
        <div class="row my-4">
          <div class="col-md-24 position-relative">
            {{ if not site.Params.env_bookshop_live }}
              <div id="{{ .search_id }}" class="position-relative" style="z-index: 99999999999999">
                <label for="{{ .search_id }}-input" class="visually-hidden">Search</label>
              </div>
              <script>
                window.addEventListener('DOMContentLoaded', (event) => {
                  new PagefindUI({ element: "#{{ .search_id }}", showSubResults: false, showImages: false });
                  const searchBox = document.querySelector('#{{ .search_id }} .pagefind-ui__search-input');
                  searchBox.setAttribute("name", "{{ .search_id }}-input");
                });
              </script>
            {{ else }}
              <div class="position-relative" style="z-index: 999999999999">
                <form>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your search terms">
                </form>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>

    {{ if .postscript.markdown }}
      <div class="mt-5">
        <div class="pt-3">
          {{ .postscript.markdown | markdownify }}
        </div>
      </div>
    {{ end }}
  </div>
</div>