{{ $headingLevel := "" }}
{{ if .heading_level }}
  {{ $headingLevel = .heading_level }}
{{ end }}
<div class="bg-wvu-not-quite-white wvu-bg-shadow wvu-b-shadow wvu-b-border p-5 wvu-table">
  <div class="mb-4">
    {{ if and .heading (eq $headingLevel "H3") }}
      <h3 class="h3 wvu-b-subheading mb-4"><span class="wvu-b-font-adjust">{{ .heading }}</span></h3>
    {{ else if .heading }}
      <h2 class="h3 wvu-b-subheading mb-4"><span class="wvu-b-font-adjust">{{ .heading }}</span></h2>
    {{ end }}
    {{ if .subheading }}
      <p class="wvu-b-heading h5"><span class="wvu-b-font-adjust">{{ .subheading }}</span></p>
    {{ end }}
  </div>
  {{ .copy | markdownify }}
</div>