{{ $heading := .heading}}

<div class="row gx-5 mb-n5">
  {{ range .items }}

    {{ $src := .image }}

    {{- if not site.Params.env_bookshop_live -}}
      {{ $image := "" }}
      {{/*  Get the image, either from its remote or local source  */}}
      {{ if hasPrefix $src "http"}}
        {{ $image = resources.GetRemote .image }}
      {{ else }}
        {{ $image = resources.Get .image }}
      {{ end }}
    
      {{/* Resize images and add them to a variable  */}}
      {{ if and $image (ne $image.MediaType.SubType "svg") }}
        {{ $src = ($image.Fill (printf "%dx%d webp" 960 640)).RelPermalink }}
      {{ end }}
    {{- end -}}

    <div class="col-24 col-lg-12 mb-5">
      <div class="row">
        <div class="col-xl-8 mb-4">
          <div class="position-relative">                    
            {{ if .image }}
              <div class="ratio ratio-3x2">
                <img loading="lazy" class="object-fit-cover wvu-b-border wvu-b-shadow" src="{{ $src }}" alt="{{ .alt_text }}" />
              </div>
            {{ end }}
          </div> 
        </div>
        <div class="col-xl-16">
          {{ if not $heading }}
            <h2 class="wvu-b-display-heading h2">{{ .title }}</h2>
          {{ else }}
            <h3 class="wvu-b-display-heading h2">{{ .title }}</h3>
          {{ end }}
          <p>{{ .text | markdownify }}</p>
          {{ if .ctas }}
            <div>
              {{ range .ctas }}
                <a class="btn wvu-b-btn btn-sm mb-1" href="{{ .url }}">{{ .text }}{{ if .icon }} <span class="fa-regular fa-{{ .icon }}"></span>{{ end }}</a>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
</div>