{{ $heading := .heading }}

<div class="row gx-4">
  <div class="col-xxl-18 mx-xxl-auto">
    <div class="row mb-n5">
      {{ range .items }}
        <div class="col-24 col-lg-12 mb-6">
          <div class="row gx-4">
            <div class="col-6">
              <div class="mb-2 d-flex justify-content-end">
                <div class="wvu-b-accent-bg h2 mb-0 text-decoration-none d-flex align-items-center justify-content-center rounded-circle p-5">
                  <span class="fa-regular fa-{{ .icon }} wvu-b-accent-bg position-absolute" aria-hidden="true"></span>
                </div>
              </div> 
            </div>
            <div class="col-18">
              {{ if not $heading }}
                <h2 class="wvu-b-display-heading h1">{{ .title }}</h2>
              {{ else }}
                <h3 class="wvu-b-display-heading h1">{{ .title }}</h3>
              {{ end }}
              <p>{{ .text | markdownify }}</p>
              {{ if .ctas }}
                <div>
                  {{ range .ctas }}
                    <a class="btn wvu-b-btn btn-sm mb-1" href="{{ .url }}">{{ .text }}{{ if .icon }} <span class="fa-regular fa-{{ .icon }}"></span>{{ end }}</a>
                  {{ end }}
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>