{{ $containerMargin := "" }}

{{ if and .topper .topper._bookshop_name }}
  {{ partial "bookshop" (slice .topper._bookshop_name (dict "topper" .topper "params" .params)) }}
  {{ if ne .topper._bookshop_name "design-system/topper/default" }}
    {{ $containerMargin = "mt-n8" }}
  {{ end }}
{{ else }}
  {{ partial "bookshop" (slice "design-system/topper/default" (dict "topper" .topper "title" .params.name)) }}
{{ end }}

{{ if or .detail_blocks site.Params.env_bookshop_live }}
  <main class="py-6 wvu-backpage-main wvu-z-index-content">
    <div class="container">
      <div class="row gx-0">
        <div class="col-xl-14 ms-xl-auto">
          <div class="tone-default bg-option-1 wvu-b-subtle p-5 p-xl-6 {{ $containerMargin }}">
            {{ if or .params.heading .params.subheading }}
              <div class="mb-5">
                {{ with .params.heading }}
                  <h2 class="display-4 config-extra-bold">{{ . }}</h2>
                {{ end }}
                {{ with .params.subheading }}
                  <p class="antonia-light h3 mt-3">{{ . }}</p>
                {{ end }}
              </div>
            {{ end }}
            {{ range .detail_blocks }}
              {{ partial "bookshop" . }}
            {{ end }}
          </div>
        </div>
        <div class="col-xl-5">
          {{ range .sidebar_blocks }}
            {{ partial "bookshop" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </main>
{{ end }}