{{ $containerMargin := "" }}

{{ if and .topper .topper._bookshop_name }}
  {{ partial "bookshop" (slice .topper._bookshop_name (dict "topper" .topper "params" .params)) }}
  {{ if ne .topper._bookshop_name "design-system/topper/default" }}
    {{ $containerMargin = "mt-n8" }}
  {{ end }}
{{ else }}
  {{ partial "bookshop" (slice "design-system/topper/default" (dict "topper" .topper "title" .params.title)) }}
{{ end }}

<main class="py-6 wvu-backpage-main wvu-z-index-content">
  {{ range .place_blocks }}
    {{ partial "bookshop" . }}
  {{ end }}
</main>