{{ $blendMode := "" }}
{{ $imageOpacity := "" }}
{{ $position := "" }}

{{ if and .styles .styles.enable_blend }}
  {{ $blendMode = "wvu-bg-blend-mode-luminosity" }}
  {{ $imageOpacity = "0.08" }}
{{ end }}

{{ if and .layout .layout.background_position }}
  {{ $position = .layout.background_position }}
{{ end }}

<div class="wvu-bg-img">
  {{ if and .styles .styles.tone (eq .styles.tone "lets-go") }}
    <div class="wvu-b-pattern wvu-b-pattern-color h-100 w-100 position-absolute" style="opacity: .2"></div>
    <div class="wvu-b-gradient d-flex w-100 h-100 justify-content-between position-absolute"></div>
  {{ end }}
  {{ if .image }}
    <img class="object-fit-cover {{ $position }} h-100 w-100 position-relative {{ $blendMode }}" style="opacity: {{ $imageOpacity }}" src="{{ .image }}" alt="" />
    {{ if not $blendMode }}
      <div class="position-absolute wvu-bg-tint w-100 h-100" style="opacity: {{ .styles.tint_opacity }}"></div>
    {{ end }}
  {{ end }}
  {{ if and .config .config.include_in_count }}
    <div class="display-0 config-extra-bold-italic wvu-text-outline text-wvu-gold position-absolute" style="font-size: 30rem !important; bottom: 0;">
      <p class="ms-n4 mb-n5 is-count"></p>
    </div>
  {{ end }}
</div>