{{ $src := .image }}

{{- if not site.Params.env_bookshop_live -}}
  {{ $image := "" }}
  {{/*  Get the image, either from its remote or local source  */}}
  {{ if hasPrefix $src "http"}}
    {{ $image = resources.GetRemote $src }}
  {{ else }}
    {{ $image = resources.Get $src }}
  {{ end }}

  {{/* Resize images and add them to a variable  */}}
  {{ if and $image (ne $image.MediaType.SubType "svg") }}
    {{ $src = ($image.Fill (printf "%dx%d webp" 960 640)).RelPermalink }}
  {{ end }}
{{- end -}}

<div class="wvu-b-subtle wvu-b-border wvu-b-shadow {{ .settings.layout.margin_no_bg }}">
  <div class="row gx-0">
    <div class="col-24 ms-auto">
      <div class="pt-4 px-4 w-100 h-100 position-relative">
        <div class="h-100 position-relative">
          <div class="w-100 h-100">
            <div class="row h-100">
              {{ if .image }}
                <div class="w-100 h-100 d-flex justify-content-center align-items-end wvu-z-index-content">
                  <div class="wvu-z-index-content">
                    <img class="object-fit" src="{{ $src }}" alt="Portrait of {{ .name }}" />
                  </div>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-24">
      <div class="row">
        <div class="col-24">
          <div class="wvu-z-index-content position-relative p-4">
            {{ with .label }}
              <h2 class="wvu-b-accent-text wvu-b-label h6 small wvu-text-letter-spacing-lg m-0 wvu-z-index-max"><span class="d-block bg- pb-2">{{ . }}</span></h2>
            {{ end }}
            <h2 class="h4 wvu-header-max-width wvu-b-display-heading wvu-b-accent-text wvu-b-text-shadow mb-2" data-text="{{ .heading }}"><span class="wvu-b-font-adjust">{{ .heading }}</span></h2>
            {{ with .name }}
              <p class="wvu-b-subheading mb-2">{{ . }}</p>
            {{ end }}
            {{ with .info }}
              <div class="small">
                {{ range . }}
                  <p class="mb-0">{{ . }}</p>
                {{ end }}
              </div>
            {{ end }}
            <div class="my-3 small">
              {{ .copy | markdownify }}
            </div>
            <p class="mb-0 small mb-2"><a href="" class="text-decoration-none wvu-b-accent-text"><span class="fa-solid fa-user-circle"></span> View Profile</a></p>
            <p class="mb-0 small"><a href="" class="text-decoration-none wvu-b-accent-text"><span class="fa-solid fa-circle-play"></span> Watch Video</a></p>
          </div>
        </div>
        <div class="col-24 d-flex align-items-center position-relative">
          <div class="w-100">
            <div class="row">            
              {{ if .ctas }}
                <div class="col-sm col-md-24">
                  <div class="wvu-z-index-content">
                    <h2 class="wvu-b-label small h6 wvu-text-letter-spacing-lg">See More</h2>
                    <ul class="list-unstyled w-100 small mb-5">
                      {{ range .ctas }}
                        <li class=""><a class="d-flex w-100 justify-content-between align-items-center py-1 text-decoration-none" href="{{ .url }}">{{ .text }}</a></li>
                      {{ end }}
                    </ul>
                  </div>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>