<div class="c-factoids wvu-b-subtle p-5 h-100">
  <h2 class="h6 wvu-b-label mb-4">{{ .heading }}</h2>
  {{ range .items }}
    <p class="mb-4">
      {{ if .pre }}
        <span class="d-block small">{{ .pre }}</span>
      {{ end }}
      
      <span class="d-block wvu-b-display-heading display-4">{{ .stat }}</span>
      
      {{ if .post }}
        <span class="d-block small">{{ .post }}</span>
      {{ end }}

      {{ if .source }}
        <span class="d-block small"><em>{{ .source }}</em></span>
      {{ end }}
    </p>
  {{ end }}
</div>