{{ $heading := .heading }}

<div class="row mb-n5 justify-content-center wvu-justify-children text-center">
  {{ if not site.Data }}
    {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "This component will not display content inside the Bookshop browser." ) ) }}
  {{ else if and (site.Params.env_bookshop_live) (not .settings.config.show_content) }}
    {{ partial "bookshop" (slice "design-system/generic/collection-tooltip-dynamic-component" .) }}
  {{ else }}

    {{ $contactsData := slice }}

    {{ $hideThumbnails := false }}

    {{ if .settings.config.hide_thumbnails }}
      {{ $hideThumbnails = .settings.config.hide_thumbnails }}
    {{ end }}

    {{ if not site.Params.env_bookshop_live }}
      {{ $contactsData = where site.RegularPages "Section" "eq" "people" }}
      {{ $contactsData = where $contactsData "Params.is_contact" "eq" true }}
    {{ else }}
      {{ $contactsData = where site.Data.people_data ".is_contact" "eq" true }}
    {{ end }}

    {{ range .contacts }}
      {{ $uuid := .contact }}
      {{ $label := .label }}
      {{ range $contactsData }}

        {{ $contact := "" }}

        {{ if not site.Params.env_bookshop_live }}
          {{ $contact = .Params }}
        {{ else }}
          {{ $contact = . }}
        {{ end }}

        {{ if eq $contact.uuid $uuid }}
          <div class="col-lg-8 col-xl-6 mb-5 position-relative">
            {{ with $label }}
              <p class="wvu-b-label position-absolute mt-n4 w-100" style="top: 0; left: 0;"><span class="px-2 py-0 mb-2 small border border-2 d-inline-block">{{ . }}</span></p>
            {{ end }}

            {{ if and $contact.profile_image (not $hideThumbnails) }}

              {{ $src := $contact.profile_image }}

              {{- if not site.Params.env_bookshop_live -}}
                {{ $image := "" }}
                {{/*  Get the image, either from its remote or local source  */}}
                {{ if hasPrefix $src "http"}}
                  {{ $image = resources.GetRemote $src }}
                {{ else }}
                  {{ $image = resources.Get $src }}
                {{ end }}

                {{/* Resize images and add them to a variable  */}}
                {{ if and $image (ne $image.MediaType.SubType "svg") }}
                  {{ $src = ($image.Fill (printf "%dx%d webp" 960 960)).RelPermalink }}
                {{ end }}
              {{- end -}}
              <div class="w-100 d-flex justify-content-center">
                <div class="ratio ratio-1x1 mt-3" style="max-width: 175px;">
                  <img class="object-fit rounded-circle" src="{{ $src }}" alt="Portrait of {{ $contact.name }}" />
                </div>
              </div>
            {{ end }}

            {{ if not $heading }}
              <h2 class="h5 mt-3">{{ $contact.name }}</h2>
            {{ else }}
              <h3 class="h5 mt-3">{{ $contact.name }}</h3>
            {{ end }}
            {{ with $contact.staff_contact_info }}
              <p class="small">
                {{ range . }}
                  {{ partial "bookshop" (slice ._bookshop_name .) }}
                {{ end }}
              </p>
            {{ end }}
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</div>