<div class="wvu-z-index-content my-n4 my-lg-n5">
  {{ range .lists }}
    <div class="py-4 py-lg-5">
      <div class="row gx-lg-6 gx-xxl-6">
        <div class="col-lg-14 mb-4 mb-lg-0">
          <h2 id="{{ .settings.config.name }}-label" class="display-6 wvu-b-display-heading wvu-b-accent-text wvu-text-shadow text-wvu-blue mb-3"><span class="wvu-b-font-adjust">{{ .topic }}</h2>
          <p class="mb-0">{{ .description }}</p>
        </div>
        <div class="col-lg-10">
          <ul class="wvu-ul-chevrons my-n4">
            {{ range .items }}
              <li class="position-relative my-4"><a class="text-decoration-none stretched-link" href="{{ .url }}">{{ .text }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  {{ end }}
</div>