{{ $pagesData := slice }}

{{ if not site.Params.env_bookshop_live }}
  {{ $pagesData = site.RegularPages }}
{{ else }}
  {{ $pagesData = site.Data.site_pages }}
{{ end }}

<div class="bg-wvu-not-quite-white p-4 h-100">
  {{ range .items }}
    {{ $pageLookup := slice }}

    {{ if not site.Params.env_bookshop_live }}
      {{ $pageLookup = where $pagesData "Params.tags" "intersect" .tags }}
    {{ else }}
      {{ $pageLookup = where $pagesData ".tags" "intersect" .tags }}
    {{ end }}

    <h2 class="h6 wvu-b-label pt-2 small mb-3"><span class="fa-solid fa-{{ .icon }}"></span> {{ .heading }}</h2>

    {{ $page := "" }}

    {{ if not site.Data }}
      {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "This component will not display content inside the Bookshop browser." ) ) }}
    {{ else if and (site.Params.env_bookshop_live) (not .config.show_content) }}
      {{ partial "bookshop" (slice "design-system/generic/collection-tooltip-dynamic-component" .) }}
    {{ else }}

      {{ range first 1 $pageLookup }}
        {{ if not site.Params.env_bookshop_live }}
          {{ $page = .Params }}
        {{ else }}
          {{ $page = . }}
        {{ end }}

        <h3 class="h6">{{ $page.title }}</h3>
        {{ with $page.tease }}
          <p>{{ . }}</p>
        {{ end }}
      {{ end }}

    {{ end }}

    {{ range .ctas }}
      <ul class="list-inline small">
        <li class="inline-item"><a class="text-decoration-none" href="{{ .url }}">{{ .text }} <span class="fa-solid fa-ear"></span></a></li>
      </ul>
    {{ end }}
  {{ end }}
</div>