{{ $layout := .settings.layout }}
{{ $styles := .settings.styles }}
{{ $config := .settings.config }}
{{ $itemBorder := "" }}
{{ if .settings.layout.margin }}
  {{ $itemBorder = "border border-1 border-black-50"}}
{{ end }}

{{ if .heading }} 
  <div class="text-start mb-3 px-3 py-2 wvu-b-accent-bg wvu-b-border wvu-b-shadow">
    <h2 class="h6 wvu-b-label mb-0">{{ .heading }}</h2>
  </div>
{{ end }}

<div class="mb-n3">
  {{ range .items }}
    <div class="position-relative wvu-b-subtle mb-3 {{ $itemBorder }} wvu-b-border wvu-b-shadow">
      <div class="row gx-4">
        <div class="col">
          <div class="p-4 h-100 rounded-2">
            <h3 class="wvu-b-display-heading h4 mb-1">{{ .title }}</h3>
            {{ if .text }}
              <p class="mb-0">{{ .text | markdownify }}</p>
            {{ end }}
          </div>
        </div>
        <div class="col-6 col-xl-5 d-flex align-items-center justify-content-end pe-5">
          <a class="stretched-link" href="{{ .url }}"><span class="visually-hidden">{{ .title }}</span><span class="fa-thin fa-arrow-circle-right h2 wvu-b-accent-text"></span></a>
        </div>
      </div>
    </div>
  {{ end }}
</div>