{{ $src := .image }}

{{ if not site.Params.env_bookshop_live }}
  {{ $image := "" }}
  {{/*  Get the image, either from its remote or local source  */}}
  {{ if hasPrefix $src "http"}}
    {{ $image = resources.GetRemote $src }}
  {{ else }}
    {{ $image = resources.Get $src }}
  {{ end }}

  {{/* Resize images and add them to a variable  */}}
  {{ if and $image (ne $image.MediaType.SubType "svg") }}{{ $src = ($image.Fill "960x640 webp").RelPermalink }}{{ end }}
{{ end }}

<div class="wvu-b-shadow wvu-b-border {{ if .settings.styles.bg_subtle }}wvu-b-subtle{{ end }} audience-{{ .settings.styles.audience }} tone-{{ .settings.styles.tone }} bg-{{ .settings.styles.card_c }} h-100 position-relative h-100">
  {{ partial "bookshop_partial" (slice "section_background_simple" (dict "image" $src "styles" .settings.styles "config" .settings.config)) }}
  <div class="p-4 wvu-z-index-content d-flex flex-column h-100">
    {{ if .label }}
      <p class="wvu-b-label align-self-start">{{ .label }}</p>
    {{ end }}
    <div class="d-flex flex-grow-1">
      <div class="mb-n2 align-self-end">
        <h2 class="wvu-b-display-heading text-uppercase mt-8 h3"><span class="wvu-b-font-adjust"><a href="{{ .url }}" class="stretched-link text-decoration-none">{{ .heading }}</a></span></h2>
        {{ if .subheading }}
          <p class="wvu-b-subheading mb-2"><span class="wvu-b-font-adjust">{{ .subheading }}</span></p>
        {{ end }}
        <div>
          <span class="fa-regular fa-arrow-down-right fs-5"></span>
        </div>
      </div>
    </div>
  </div>
</div>