{{ $styles := .settings.styles }}
{{ $icon := .benefits_icon }}

<div class="p-5 wvu-b-text wvu-b-subtle bg-">
  {{ with .heading }}
    <h2 class="h2 mb-3 wvu-b-subheading"><span class="wvu-b-font-adjust">{{ . }}</span></h2>
  {{ end }}
  {{ with .subheading }}
    <p class="h6 wvu-b-heading">
      <span class="wvu-b-font-adjust">{{ . }}</span>
    </p>
  {{ end }}

  <div class="row gx-4 mt-4 mb-n4">
    <ul class="list-unstyled">
      {{ range .items }}        
        <li class="d-flex mb-4">
          <span class="h4 fa-solid fa-{{ $icon }} wvu-b-accent-text me-3 mt-1"></span>
          <div>
            {{ with .title }}
              <h3 class="h5 mb-0">{{ . }}</h3>
            {{ end }}
            {{ with .text }}
              <p class="mb-0">{{ . | markdownify }}</p>
            {{ end }}
          </div>
        </li>
      {{ end }}

      {{ with .ctas }}
        <div class="mt-4">
          {{ range . }}
            {{ if .button_c }}
              {{ $buttonColor = .button_c }}
            {{ end }}
            <a class="btn wvu-b-btn btn-sm mb-1 me-1" href="{{ .url }}">{{ .text }} {{ with .icon }}<span class="fa-regular fa-{{ . }}"></span>{{ end }}</a>
            {{ $buttonColor := "primary" }}
          {{ end }}
        </div>
      {{ end }}
    </ul>
  </div>
</div>